<div class="container">
  <form>
    <div class="form-group row">
      <label for="inputvastid" class="col-sm-2 col-form-label">VAST ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputvastid" placeholder="LDAP ID">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputapplname" class="col-sm-2 col-form-label">Application Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputapplname" placeholder="Appl Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputprojectname" class="col-sm-2 col-form-label">Project Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputprojectname" placeholder="Project Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputbuunit" class="col-sm-2 col-form-label">Business Unit</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputbuunit" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">API</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> GetLDAPData
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
