<table class="table">
  <tr>
  <th>VAST ID</th>
  <th>Application Name</th>
  <th>Project Name</th>
  <th>API KEY</th>
  <th>STATUS</th>
  <th>ACTIONS</th>
  </tr>
  <tbody>
  <tr>
    <td>SBGV</td>
    <td>Application for testing the tools</td>
    <td>Testing the configuration</td>
    <td>awroonn23nlkiolnldllR4lnl</td>
    <td><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="status-icon"></span>
      <span >Enabled</span>
      <span class="status-chevron"></span>
    </button>
    </td>
    <td><a href=""><span class="action-icon action-delete"></span>Delete</a></td>
  </tr>
  </tbody>
</table>
